.photo-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-gap: 1rem; */
    place-items: center;
    justify-content: center;
}

.photo-grid img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    filter: grayscale(1);
    background: #fff;
    padding: 0 2rem 2rem 2rem;
    box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
}

.photo-grid img:hover {
    filter: grayscale(0);
    cursor: url('../../assets/photos/party.png'), auto;
}

.memory:hover .words {
    display: block;
}

.memory {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.words {
    position: absolute;
    color: white;
    font-weight: bolder;
    z-index: 1;
    display: none;
    -webkit-filter: drop-shadow(2px 2px 2px #222);
    filter: drop-shadow(2px 2px 2px #222);
}